# Distribution / packaging
package-lock.json
package.json

# Virtual environments
venv/

# IDE files
.vscode/

# Project specific
backups/
node_modules/
tmp/
temp/

# Sensitive files
.env
config.json

# Output files
*.log
*.pid
*.xlsx
*.csv
current_page.txt

# Temporary files
tmp_code_*.bash
project_info.txt
project_structure.txt
sensitive_info.txt
line_counts.txt

# Data directory
/data
